%tr
  %td
    %span
      -if current_user?(@user)
        = link_to gravatar_for(friend_feed.poster, :size =>50), profile_path(friend_feed.poster)
        = link_to friend_feed.poster.name, profile_path(friend_feed.poster)
      -#- else if post.poster != current_user
        -#Posted on ur wall.
    %span
      %br/
      = friend_feed.content
      %br/
    %span
      Posted
      = time_ago_in_words friend_feed.created_at
      ago.
