-#%p
  -#Please answer some basic questions about yourself
= form_for @faq do |form|
  %fieldset.push-9
    %legend
      Update Your FAQ
    - Faq::QUESTIONS.each do |question|
      = render 'answer_text_area',
        :form =>form, :answer_text_area => question
    = submit_tag "Update All"
