@charset "UTF-8";
/* line 20, ../sass/application.sass */
body {
  background: url("/images/bg_image_here.png") #15405c no-repeat;
}
/* line 25, ../sass/application.sass */
body fieldset {
  margin-top: 10px;
  background: white;
  color: black;
}
/* line 33, ../sass/application.sass */
body legend {
  background: black;
  color: white;
  font-weight: bold;
  padding: 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 40, ../sass/application.sass */
body a {
  color: #0099cc;
  text-decoration: none;
}
/* line 44, ../sass/application.sass */
body a:hover {
  color: #006699;
  text-decoration: underline;
}
/* line 48, ../sass/application.sass */
body a:visited {
  color: #006699;
}
/* line 51, ../sass/application.sass */
body a:active {
  color: green;
}
/* line 54, ../sass/application.sass */
body .container {
  background: url('/images/grid.png?1312820691');
  border: 6px solid black;
  margin: auto;
  background: white;
  -moz-box-shadow: white 0 4px 8px;
  -webkit-box-shadow: white 0 4px 8px;
  khtml-box-shadow: white 0 4px 8px;
  box-shadow: white 0 4px 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  min-width: 450px;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 67, ../sass/application.sass */
body .container header {
  background: black;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 72, ../sass/application.sass */
body .container header #search_space {
  position: absolute;
  top: 30px;
  right: 200px;
  background: white;
  height: 25px;
  width: 250px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 81, ../sass/application.sass */
body .container header #search_space form {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 84, ../sass/application.sass */
body .container header #white_space {
  background: white;
  height: 60px;
  width: 65%;
  margin-top: 65px;
  float: right;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 92, ../sass/application.sass */
body .container header #white_space .network_logos {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}
/* line 97, ../sass/application.sass */
body .container header #white_space #nav_container {
  float: right;
  margin-right: 12px;
  margin-top: 25px;
  width: 60%;
  height: 25px;
  background: steelblue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 106, ../sass/application.sass */
body .container header #white_space #nav_container #round_special {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 111, ../sass/application.sass */
body .container header #white_space #nav_container nav {
  height: 31px;
  width: 100%;
  background: white;
  margin-top: -16px;
}
/* line 119, ../sass/application.sass */
body .container header #white_space #nav_container nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  display: inline-block;
  padding: 0.2em;
}
/* line 124, ../sass/application.sass */
body .container header #white_space #nav_container nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 128, ../sass/application.sass */
body .container #inner_content {
  clear: both;
  padding: 0px;
  background: #73b2dd;
  margin: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 136, ../sass/application.sass */
body .container #inner_content section {
  clear: both;
  background: white;
  width: 95%;
  min-height: 450px;
  margin: auto;
  margin-bottom: 1px;
  margin-top: 2px;
  padding: 20px;
  padding-top: 2px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 149, ../sass/application.sass */
body .container #inner_content section #sign_up_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 162, ../sass/application.sass */
body .container #inner_content section #left_side {
  background: #15405c;
  color: white;
  border: 1px solid black;
  display: inline;
  float: left;
  overflow: hidden;
  width: 20.003%;
  margin-right: 1.042%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px 0px 0px 10px;
}
/* line 173, ../sass/application.sass */
body .container #inner_content section #left_side h1 #gravatar {
  margin: auto;
  border: 1px solid black;
  background: gray;
}
/* line 178, ../sass/application.sass */
body .container #inner_content section #left_side h1 #gravatar img {
  margin: auto;
  text-align: center;
}
/* line 181, ../sass/application.sass */
body .container #inner_content section #middle_side {
  color: white;
  background: #15405c;
  width: 45%;
  display: inline;
  float: left;
  overflow: hidden;
  width: 53.675%;
  margin-right: 1.042%;
  border: 1px solid black;
  margin-top: 0px;
  padding: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 193, ../sass/application.sass */
body .container #inner_content section #right_side {
  background: #15405c;
  color: white;
  border: 1px solid black;
  display: inline;
  float: left;
  overflow: hidden;
  width: 15.794%;
  margin-right: 1.042%;
  height: 250px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 0px 10px 10px 0px;
}
