/* line 17, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../var/lib/gems/1.8/gems/compass-0.11.beta.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 19, ../sass/application.sass */
body {
  background: url("/images/bg_image_here.png") #15405c no-repeat;
}
/* line 23, ../sass/application.sass */
body fieldset {
  margin-top: 10px;
  color: black;
}
/* line 28, ../sass/application.sass */
body legend {
  background: black;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 100px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 37, ../sass/application.sass */
body a {
  color: #0099cc;
  text-decoration: none;
}
/* line 41, ../sass/application.sass */
body a:hover {
  color: #006699;
  text-decoration: underline;
}
/* line 45, ../sass/application.sass */
body a:visited {
  color: #006699;
}
/* line 48, ../sass/application.sass */
body a:active {
  color: green;
}
/* line 51, ../sass/application.sass */
body .edit_link {
  float: right;
}
/* line 54, ../sass/application.sass */
body .container {
  border: 6px solid black;
  clear: both;
  margin: auto;
  background: white;
  height: auto;
  -moz-box-shadow: white 0 4px 8px;
  -webkit-box-shadow: white 0 4px 8px;
  khtml-box-shadow: white 0 4px 8px;
  box-shadow: white 0 4px 8px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 63, ../sass/application.sass */
body .container header {
  background: black;
  position: relative;
}
/* line 68, ../sass/application.sass */
body .container header #search_space {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  height: 29px;
  width: 250px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 78, ../sass/application.sass */
body .container header #white_space {
  background: white;
  height: 60px;
  width: 65%;
  margin-top: 65px;
  float: right;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 86, ../sass/application.sass */
body .container header #white_space .network_logos {
  float: right;
  margin-top: 8px;
  margin-right: 8px;
}
/* line 91, ../sass/application.sass */
body .container header #white_space #nav_container {
  float: left;
  margin-left: 15px;
  margin-top: 25px;
  width: 60%;
  height: 25px;
  background: steelblue;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 100, ../sass/application.sass */
body .container header #white_space #nav_container #round_special {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* line 105, ../sass/application.sass */
body .container header #white_space #nav_container nav {
  height: 31px;
  width: 100%;
  background: white;
  margin-top: -16px;
}
/* line 113, ../sass/application.sass */
body .container header #white_space #nav_container nav ul li {
  display: inline-block;
  padding: 0.2em;
}
/* line 118, ../sass/application.sass */
body .container header #white_space #nav_container nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}
/* line 122, ../sass/application.sass */
body .container section {
  clear: both;
  background: white;
  min-height: 350px;
  margin: auto;
  margin-bottom: 1px;
  margin-top: 2px;
  height: auto;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 137, ../sass/application.sass */
body .container section .ladder {
  background: black;
  color: white;
  text-align: center;
}
/* line 142, ../sass/application.sass */
body .container section #success-image {
  margin-bottom: 0px;
}
/* line 144, ../sass/application.sass */
body .container section #sign_up_button {
  margin-top: 180px;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 166, ../sass/application.sass */
body .container section #left_side h1 #gravatar {
  margin: auto;
  border: 1px solid black;
  background: gray;
}
/* line 171, ../sass/application.sass */
body .container section #left_side h1 #gravatar img {
  margin: auto;
  text-align: center;
}
/* line 194, ../sass/application.sass */
body .container footer {
  text-align: center;
  color: white;
  background: black;
}
