Hello
= @friend.name
%br

You have a friend request from 
=@user.name
%br/
View
= link_to user_path(@user, :host=>"locahost:3000"), user_path(@user, :host=>"locahost:3000")
%br/
Accept:
=@accept_url
%br/
Decline:
=@decline_url
