%p
  Hello #{@user.name},
%br/

Heard you've lost your login information.
%br/
Well this is it:
%br/
Screen name:
= @user.name
%br/
Password:
= @user.encrypted_password
%br/
Follow the link below to reset your password:
%br/
= edit_user_path(@user, :host=>'localhost:3000')
%br/
%br/
***The MEST hangout team*** 
