%p
  Hello #{@user.name},
%br/

Heard you've lost your login information.
%br/
You can use your email with the generated passsword below to signin:
%br/
Screen name:
= @user.email
%br/
Password:
= @password
%br/
Follow the link below to reset your password:
%br/
Note: Please remember to change your password once you are logged feel extra secure.
%br/
Sign up link:
%br/

= signup_url(@user, :host=>'localhost:3000')
%br/
%br/
***The MEST community hangout *** 
