body {
  /*background:#cff; */
  background: url("/images/bg_image_here.png") #15405c no-repeat; }

.round {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#round_special {
  -webkit-border-radius: 19px;
  -moz-border-radius: 18px;
  border-radius: 8px; }

.container {
  border: 6px solid black;
  width: 85%;
  margin: auto;
  background: white;
  /*backround: steelblue; */
  -moz-box-shadow: white 0 4px 8px;
  -webkit-box-shadow: white 0 4px 8px;
  -khtml-box-shadow: white 0 4px 8px;
  box-shadow: white 0 4px 8px; }

header {
  background: black; }

#logo_image {
  /*margin-left:10px */ }

.network_logos {
  float: right;
  margin-top: 8px;
  margin-right: 8px; }

#curly_black {
  position: absolute;
  background: black;
  height: 111px;
  float: right;
  width: 15px;
  top: 9px;
  left: 300px;
  margin-right: 0px; }

#white_background {
  background: white;
  width: 5px;
  height: 10px;
  float: right;
  margin-top: 101px; }

#white_space {
  background: white;
  height: 60px;
  margin-top: 65px;
  float: right;
  width: 65%; }

#nav_container {
  /*margin:auto; */
  float: right;
  margin-right: 12px;
  margin-top: 9px;
  /*margin-top:-40px; */
  /*padding-top:2px; */
  width: 60%;
  height: 40px;
  background: steelblue; }

section {
  /*background: steelblue; */
  clear: both;
  background: white;
  width: 95%;
  min-height: 450px;
  margin: auto;
  margin-bottom: 1px;
  margin-top: 0.4%;
  padding: 20px; }

#sign_up_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: white;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px; }

a {
  color: #0099cc;
  text-decoration: none; }
  a:hover {
    color: #006699;
    text-decoration: underline; }
  a:visited {
    color: #006699; }
  a:active {
    color: green; }

#search_space {
  position: absolute;
  top: 30px;
  right: 200px;
  background: white;
  height: 20px;
  width: 150px; }

#inner_content {
  /*background:blue; */
  clear: both;
  padding: 2px;
  /*background:#CBEFB3; */
  background: #73b2dd;
  /*padding-bottom:20px; */
  margin: 10px; }

#gravatar {
  margin: auto;
  border: 1px solid black;
  background: gray; }
  #gravatar img {
    margin: auto;
    margin-left: 10px; }

#left_side {
  background: white;
  border: 1px solid black;
  width: 23%;
  padding: 10px;
  /*height:auto; */
  height: 400px;
  float: left;
  /*margin-left:30%; */
  margin-bottom: 20px; }

#middle_side {
  background: white;
  width: 45%;
  height: 250px;
  border: 1px solid black;
  float: left;
  margin-left: 3%;
  /*margin-top:-22px; */ }

#right_side {
  background: white;
  width: 20%;
  float: left;
  border: 1px solid black;
  margin-left: 3%;
  height: 250px; }

nav {
  /*float:right; */
  /*margin:auto; */
  /*white-space:nowrap; */
  height: 31px;
  width: 100%;
  /*margin:auto; */
  background: white;
  /*clear:both; */
  margin-top: -16px; }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em; }
    nav ul li a {
      padding: 0 5px;
      font-weight: bold; }

.field, .actions {
  margin-bottom: 10px; }

.field_with_errors {
  background-color: red;
  display: table; }
  .field_with_errors label {
    color: white; }
  .field_with_errors input {
    border: 1px solid red; }

#error_explanation {
  background-color: #f0f0f0;
  border: 2px solid red;
  width: 400px; }
  #error_explanation p {
    color: #333333; }
  #error_explanation h2 {
    color: white;
    font-size: 13px;
    background-color: red; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }

ul.users {
  margin-top: 1em; }

.users li {
  list-style: none; }

footer {
  width: 50%;
  color: white;
  margin: auto; }
