.pagination.push-6.span-12
  = will_paginate
  %fieldset
    %legend
      Members
    %table.box
      = render @users #rails automatically iterates via @users and renders _user.html.erb partial 

  = will_paginate
