<div id= "left_side">
  <h1>
    <div id= "gravatar">
      <%= gravatar_for (@user) %>
      <br />
      <%= @user.name %>
    </div>
  </h1>
</div>

<div id="middle_side">
  main content goes here!!
</div>

<div id="right_side">
  notifications and ads here!!
</div>
